.App {
  text-align: center;
  color: burlywood;
  font-size: 50px;
  text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}

body {
  background-image:  url(https://previews.123rf.com/images/stas11/stas111709/stas11170900055/85845195-set-of-electronics-icons-devices-tech-vector-illustration.jpg);
  margin: 0;
  padding: 0;
  justify-content: center;
  background-size: cover;
  font-family:'Times New Roman', Times, serif;
  font-size: large;
  text-shadow: 2px 2px darkred;
  color:rgb(43, 43, 43)
}


ul {
  text-align: center;
  /* display: flex; */
  display: inline-flex;
  justify-content: flex-start;
  list-style: none;
  background-color:dimgrey;
  font-size: xx-large;
}
li {
  display: flex;
  margin: 10px;
}

.nav-links-logged-in {
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

input {
  margin: 15px;
}

img {
  max-width: 250px;
  max-height: 250px;
}

.singleItem, .checkoutItem, .orderItem {
  border: 1px solid black;
}

button {
  border-radius: 8px;
}

.searchResults {
  text-align: center;
}

nav {
  text-align: center;
}

